.product-container {
    display: flex;

    .product-image {
        min-width: 50%;
        width: 50%;
        max-width: 50%;
        padding-right: 60px;

        .image-container {
            width: 100%;
            height: auto;

            img {
                width: 100%;
            }
        }
    }

    .product-info {

        .title {
            font-size: 40px;
            margin-bottom: 30px;
            font-weight: 600;
        }

        .subtitle {
            opacity: 0.7;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .price {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 60px;
        }

        .description {
            font-size: 18px;
            line-height: 1.4;
            opacity: 0.8;
            margin-bottom: 60px;
        }

        .bottom-row {
            display: flex;
            align-items: center;
            width: 100%;

            .product-quantity {
                display: flex;
                align-items: center;
                font-size: 16px;
                margin-right: 30px;

                button {
                    font-size: 28px;
                }

                .quantity {
                    width: 30px;
                    padding: 0 5px;
                }
            }
        }

    }
}
