.footer {
    // padding-top: 60px;
    // padding-bottom: 60px;
    height: fit-content;

    .brand {
        display: flex;
        flex-direction: column;

        .title {
            font-family: 'Styrene';
        }

        .copyright {
            font-size: 14px;
        }
    }

    mat-grid-list {
        width: 100%;
        height: 100%;
    }

    mat-nav-list {

        a {
            color: #fff;

        }
    }
}
