<mat-toolbar color="primary" class="footer">
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
      <div class="brand">
        <span class="title">COLOURNURA</span>
        <span class="copyright">All rights reserved © {{currentYear}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-nav-list>
        <a routerLink="/" mat-list-item>Home</a>
        <a routerLink="/catalog" mat-list-item>Catalog</a>
      </mat-nav-list>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
